.task {
	display: flex;
	flex-direction: column;
}

.taskName {
	gap: 1rem;
	display: flex;
	align-items: center;
}

.taskDescription {
	opacity: .5;
}

.taskContainer {
	display: flex;
	height: 95vh;
}